#tokens and pws to ignore
src/tokens.json
.env
src/.env
src/config/.env

# python envs and cache
__pycache__
src/utils/__pycache__
src/utils/__pycache__*
src/straviz_env/
straviz_env/

# jupyter notebooks
src/*.ipynb
src/.ipynb_checkpoints
